body {
  background-color: white;
}

.container {
  font-family: sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.secret_word {
    background: transparent;
    display: flex;
    font-family: sans-serif;
    font-size: 1.5em;
    justify-content: center;
    padding-top: 1em;
}

.lost_game {
    background: transparent;
    display: flex;
    font-family: sans-serif;
    font-size: 1.5em;
    justify-content: center;
    padding-top: 1em;
}

p {
	background: transparent;
    display: flex;
    font-size: 1.5em;
    padding-top: 1em;
}

.reveal_word {
    background: transparent;
    display: flex;
    font-family: sans-serif;
    font-size: 1.5em;
    justify-content: center;
    padding-top: 1em;
    text-transform: lowercase;
}

.form_container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.guess_area {
	border: 1px;
	border-radius: 0.5em;
}

input {
	background: transparent;
	border-color: lightgrey;
  font-family: sans-serif;

}

#submit_button {
	background: transparent;
	border: 1px;
  border-radius: 0.6em;
	color: black;
  cursor: pointer;
	font-family: sans-serif;

}

.errors {
	display: flex;
  justify-content: center;
}

.rules_container {
	display: flex;
  justify-content: center;
	padding-top: 1.5em;
}



ul {
	list-style: none;
}
